<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <module name="TreeWalker">
    <module name="MissingOverride"/>
    <module name="EmptyBlock"/>
    <module name="WhitespaceAround"/>
    <module name="LeftCurly"/>
    <module name="RightCurly"/>
    <module name="NeedBraces"/>
  </module>
</module>
